<nav class="navbar navbar-default text-left">
    <div class="">
        <div class="navbar-header">
            <a class="navbar-brand" href="/contacts">주소록</a>
        </div>
        <ul class="nav navbar-nav">
            <li>
                <a href="/contacts">목록</a>
            </li>
            <li>
                <a href="/contacts/new">생성</a>
            </li>
        </ul>
    </div>
</nav>